<section>
  <h2> Forms Component </h2>

  <h3> Fake log in </h3>

  <p> FormsModule is what allows us to use ngModel and ngSubmit </p>

  <!-- "ngSubit is better than a "click" function because
        it can handle both a click and hitting the "Enter" key -->
  <form (ngSubmit)="handleTheSubmission()">
    <label for="email-input"> Email </label>

    <p class="error" *ngIf="emailMessage"> {{emailMessage }} </p>

    <input id="email-input" type="email" name="fakeEmail" placeholder="blah@blah.com"
            [(ngModel)]="theUser.fakeEmail"
            (blur)="handleTheSubmission()">
            <!-- "blur" happens when your cursor leaves an input -->

    <br>

    <p class="error" *ngIf="passwordMessage"> {{passwordMessage }} </p>

    <label for="password-input"> Password </label>
    <input  id="password-input" type="password" name="fakePassword" placeholder="*******"
            [(ngModel)]="theUser.fakePassword"
            (blur)="handleTheSubmission()">
            <!-- "blur" happens when your cursor leaves an input -->
    <br>

    <button> Log In </button>
  </form>

</section>
